:root {
  --border-radius: 5px;
  --font-weight-bold: bold;
  --font-size-rem: 1rem;
  --transition-speed: 0.8s;
}

* {
  font-family: Verdana, Arial, sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin;
}
