* {
  font-family: Verdana, Arial, sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin;
}

@font-face {
  font-family: "Madloud";
  src: url("/src/assets/fonts/Madloud.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
}
