[data-component="Component_Button_Model"] {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  height: 100%;
  width: 20%;
}

[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"] {
  height: 100px;
  width: 60%;
  transform: translateY(10px);
}

[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"][data-css="button_faq"] {
  width: 30%;
}

[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"][data-css="button_about"] {
  width: 40%;
}

[data-component="Component_Button_Model"] .canvas_container {
  height: 100px;
  width: 100px;
}

[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"]
  .title_container
  .title_up
  h1,
[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"]
  .title_container
  .title_down
  h1 {
  height: 100px;
  font-family: "Madloud", sans-serif;
  font-size: 80px;
  font-weight: 900;
  transition: 0.3s all ease;

  margin: 0;

  background: linear-gradient(45deg, #ff3e9e, #ff7717eb, #9c54f5, #ffaf25);
  background-size: 200% 200%;

  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 10s infinite ease-in-out;
}

[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"]
  .title_container
  .title_up.hovered
  h1,
[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"]
  .title_container
  .title_down.hovered
  h1 {
  margin: 0 4px;
  pointer-events: none;
  font-size: 40px;
}

[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"]
  .title_container
  .title_up.hovered {
  transform: translateY(-30px);
}

[data-component="Component_Button_Model"]
  [data-component="Component_Button_Logo"]
  .title_container
  .title_down.hovered {
  transform: translateY(100px);
}
