[data-component="Component_Header"] {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  padding: 5vh 10vw 1vh 10vw;
  height: 20vh;
  align-items: center;
  z-index: 2;
}

[data-component="Component_Header"]
  [data-component="Component_Button_Animated"] {
  width: 20%;
}

[data-component="Component_Header"]
  [data-component="Component_Button_Animated"] {
  opacity: 0;
  transform: scale(0);
  animation: popIn 1s ease-out forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
