[data-component="Component_Header"] {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
  z-index: 2;
}

[data-component="Component_Header"]
  [data-component="Component_Button_Logo"][data-css="button_logo"] {
  width: 20%;
  min-width: 370px;
}
