[data-component="Component_Hero"] {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20vh;
  background-image: url("/assets/images/select-3.jpg");
  flex: 0 0 auto;
  min-height: 100vh;
}
