[data-component="Component_Hero"] {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20vh;
  flex: 0 0 auto;
  min-height: 100vh;
  opacity: 0; /* Initially hidden */
  transition: opacity 1.2s ease-in-out; /* Smooth fade-in */
}

[data-component="Component_Hero"].fade-in {
  opacity: 1; /* Fade in when image is loaded */
}

[data-component="Component_Hero"] .blurb {
  color: white;
  margin: 0;
  text-shadow: 0 0 4px rgba(0, 0, 0, 1);
  animation: popIn 1s ease-out forwards;
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
  75% {
    opacity: 1;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
