@font-face {
  font-family: "FankyBubbleGraffiti";
  src: url("/src/assets/fonts/FankyBubbleGraffiti-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-component="Component_Hero"] {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-component="Component_Hero"] .title_container {
  position: absolute;
  height: 30vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-component="Component_Hero"] .title_container .title_up,
[data-component="Component_Hero"] .title_container .title_down {
  position: absolute;
  height: calc(2 * fit-content);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
  mix-blend-mode: difference;
}

[data-component="Component_Hero"] .title_container .title_up h1,
[data-component="Component_Hero"] .title_container .title_down h1 {
  font-family: "FankyBubbleGraffiti", sans-serif;
  font-size: max(min(24vw, 24vh), 100%);
  font-weight: 900;
  margin: 0 -10px;
  padding: 10px;
  transition: 0.3s all ease;

  background: linear-gradient(45deg, #ff3e9e, #ff7717eb, #9c54f5, #ffaf25);
  background-size: 200% 200%;

  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 4s infinite ease-in-out;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%; /* Start at the left */
  }
  50% {
    background-position: 100% 50%; /* Move the gradient to the right */
  }
  100% {
    background-position: 0% 50%; /* Move it back to the left */
  }
}

[data-component="Component_Hero"] .title_container .title_up.hovered h1,
[data-component="Component_Hero"] .title_container .title_down.hovered h1 {
  margin: 0 10px;
  pointer-events: none;
}

[data-component="Component_Hero"] .title_container .title_up.hovered {
  transform: translateY(-20vh);
}

[data-component="Component_Hero"] .title_container .title_down.hovered {
  transform: translateY(20vh);
}

[data-component="Component_Hero"] [data-component="Component_Text"] {
  opacity: 0;
  transition: 0.3s all ease;
  font-size: 20px;
  letter-spacing: -2px;
}

[data-component="Component_Hero"].hovered [data-component="Component_Text"] {
  opacity: 1;
}

[data-component="Component_Hero"] .content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-height: 600px) {
  [data-component="Component_Hero"] .title_container {
    height: 50vh;
  }
}

@media (max-width: 1000px) {
  [data-component="Component_Hero"] .title_container .title_up.hovered h1,
  [data-component="Component_Hero"] .title_container .title_down.hovered h1 {
    margin: 0 0;
  }

  [data-component="Component_Hero"] .title_container {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  [data-component="Component_Hero"] .title_container .title_up.hovered h1,
  [data-component="Component_Hero"] .title_container .title_down.hovered h1 {
    margin: 0 -5px;
  }
}
