[data-component="Component_Indicator_Scroll"] {
  position: fixed;
  background-color: #e61171;
  height: 100px;
  width: 100px;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.down-arrow {
  display: inline-block;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 5px;
  transform: rotate(45deg);
}
