.page {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;
  background: black;
  background-color: white;
  height: fit-content;
}
