[data-component="Component_Title_Animated"] {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
}

[data-component="Component_Title_Animated"] .animated_text {
  display: inline-block;
  font-size: calc(10vw + 10vh);
  font-weight: bolder;
  letter-spacing: -0.6rem;
}

[data-component="Component_Title_Animated"] .letter-container {
  position: relative;
  display: inline-block;
}

[data-component="Component_Title_Animated"] .letter,
[data-component="Component_Title_Animated"] .colored-copy {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

[data-component="Component_Title_Animated"] .letter.appear,
[data-component="Component_Title_Animated"] .colored-copy.appear {
  opacity: 1;
  transform: translateY(0);
}

[data-component="Component_Title_Animated"] .colored-copy {
  position: absolute;
  top: 0;
  left: 0;
}
